<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <!-- Toast -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
      rel="stylesheet"
    />

    <!-- fonte Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- Fonte Fontastique -->
    <link href="https://fonts.cdnfonts.com/css/fontastique" rel="stylesheet" />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- CSS do Projeto -->
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css" />
    <!-- Icone -->

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/icon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/icon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/icon/favicon-16x16.png"
    />

    <title>CriptoWeb | Register</title>
  </head>
  <body class="logineafins">
    <div>
      <div id="cadastro" class="wrapper">
        <form @submit.prevent="onSubmit">
          <h1>Create Account</h1>
          <div class="input-box form-floating">
            <input
              class="form-control"
              type="email"
              v-model="email"
              name="email"
              placeholder="E-mail"
              id="Mail"
              required
            />
            <label for="Mail">E-mail</label>
            <i class="bx bxs-user bx-flip-horizontal"></i>
          </div>
          <div class="input-box form-floating">
            <input
              class="form-control"
              type="password"
              v-model="password"
              name="pass"
              placeholder="Password"
              id="pWord"
              required
            />
            <label for="pWord">Password</label>
            <i class="bx bxs-lock-alt"></i>
          </div>
          <div class="input-box form-floating">
            <input
              class="form-control"
              type="password"
              placeholder="Password"
              v-model="repeatPassword"
              id="pWordR"
              required
            />
            <label for="pWordR">Repeat password</label>
            <i class="bx bxs-lock-alt"></i>
          </div>
          <button class="btn-regt btn" type="submit">Create account</button>
        </form>
        <div>
          <p class="text-center mt-3">
            Already have an account?
            <a class="login-a" href="login.html">Login</a>
          </p>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/src/main/resources/static/js/vueCadastro.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
