* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body{
    display: flex;  justify-content: center;
    align-items: center;
;    min-height: 110vh;
    background: seagreen;
}

.wrapper {
    width:420px;
    background: purple;
    color: #fff;
}

ont{
    width: auto;
    height: auto;
    padding: 0;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    transition: background-color 0.3s;
}
  


.cor{animation:color-change-5x 15s linear iinite alternate both}

.br{animation:br 2s linear infinite alternate both}


@keyframes color-change-5x{

    0%{
        background:#19dcea
    }
    100%{
        background:#b22cff
    }
}



@keyframes slide-top {
    0% {
        transform: translate(.2em, -1.7em);
    }
    100% {
        transform: translate(.4em, -2.5em);
    }
}


@keyframes bg {
    0% {
        filter: saturate(150%);
    }
    50% {
        filter: brightness(1.2);
    }
    100% {
        filter: grayscale(100%);
    }
}

